# ENV / secrets
.env
.env.*
*.key

# node
node_modules/
.pnpm-store/

# logs
*.log

# debug / test scripts (DO NOT PUSH)
apps/web/*.mjs
packages/contracts/*.mjs

# public build artifacts
apps/web/public/
dist/
.next/

# relayer private infra
apps/relayer/.env
apps/relayer/node_modules
